@font-face
{
  font-family: 'BonvenoCF';
  font-weight: light;
  font-style: normal;
}

@font-face
{
  font-family: 'Neocyr';
  font-weight: normal;
  font-style: normal;
} 

h1
{
  font-family: 'Neocyr';
  font-size: 72pt;
  text-align: left;
}

h2
{
  font-family: 'BonvenoCF';
  font-size: 14pt;
  color: #686868;
  text-align: left;
  padding-left: 45%;
}

h3
{
  font-family: 'BonvenoCF';
  font-size: 16pt;
  color: white;
  text-align: center;
}

h4
{
  font-family: 'BonvenoCF';
  font-size: 14pt;
  color: #686868;
  text-align: center;
}
